/*! mdn-bob (Builder of Bits) - © Mozilla Corporation, MIT license */
@font-face {
  font-display: swap;
  font-family: Inter;
  font-stretch: 75% 100%;
  font-style: oblique 0deg 20deg;
  font-weight: 1 999;
  src: url(../media/fonts/Inter.var.woff2) format("woff2 supports variations"),
    url(../media/fonts/Inter.var.woff2) format("woff2-variations");
}

:root {
  --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
  --font-body: Inter, var(--font-fallback);
  --font-code: Consolas, "Courier New", monospace;
  --type-body-l: 400 1rem/1.1876 var(--font-body);
  --type-emphasis-m: 600 0.8125rem/1.23 var(--font-body);
  --font-heading: var(--font-body);
  --type-label-s: 600 0.625rem/1.2 var(--font-heading);
  --type-code-regular: 400 0.875rem/1.5 var(--font-code);
  --elem-radius: 0.25rem;
  --button-height: 2rem;
  --button-radius: var(--elem-radius);
}

.theme-light,
:root {
  --text-primary: #1b1b1b;
  --text-secondary: #4e4e4e;
  --text-inactive: #9e9e9ea6;
  --text-link: #0069c2;
  --text-invert: #fff;
  --background-primary: #fff;
  --background-secondary: #f9f9fb;
  --background-tertiary: #fff;
  --background-toc-active: #ebeaea;
  --background-mark-yellow: rgba(199, 183, 0, 0.4);
  --background-mark-green: rgba(0, 208, 97, 0.4);
  --background-information: rgba(0, 133, 242, 0.1);
  --background-warning: rgba(255, 42, 81, 0.1);
  --background-critical: rgba(211, 0, 56, 0.1);
  --background-success: rgba(0, 121, 54, 0.1);
  --border-primary: #cdcdcd;
  --border-secondary: #cdcdcd;
  --button-primary-default: #1b1b1b;
  --button-primary-hover: #696969;
  --button-primary-active: #9e9e9e;
  --button-primary-inactive: #1b1b1b;
  --button-secondary-default: #fff;
  --button-secondary-hover: #cdcdcd;
  --button-secondary-active: #cdcdcd;
  --button-secondary-inactive: #f9f9fb;
  --button-secondary-border-focus: #0085f2;
  --button-secondary-border-red: #ff97a0;
  --button-secondary-border-red-focus: #ffd9dc;
  --icon-primary: #696969;
  --icon-secondary: #b3b3b3;
  --icon-information: #0085f2;
  --icon-warning: #ff2a51;
  --icon-critical: #d30038;
  --icon-success: #007936;
  --accent-primary: #0085f2;
  --accent-primary-engage: rgba(0, 133, 242, 0.1);
  --accent-secondary: #0085f2;
  --accent-tertiary: rgba(0, 133, 242, 0.1);
  --shadow-01: 0px 1px 2px rgba(43, 42, 51, 0.05);
  --shadow-02: 0px 1px 6px rgba(43, 42, 51, 0.1);
  --focus-01: 0px 0px 0px 3px rgba(0, 144, 237, 0.4);
  --field-focus-border: #0085f2;
  --code-token-tag: #0069c2;
  --code-token-punctuation: #9e9e9e;
  --code-token-attribute-name: #d30038;
  --code-token-attribute-value: #007936;
  --code-token-comment: #757575;
  --code-token-default: #1b1b1b;
  --code-token-selector: #872bff;
  --code-token-class-selector: #1c4482;
  --code-token-pseudo-class: #085;
  --code-token-variable-2: #8c6300;
  --code-token-at-rule: #8c6300;
  --code-token-meta: #555;
  --code-background-inline: #f2f1f1;
  --code-background-block: #f2f1f1;
  --notecard-link-color: #343434;
  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(0, 0, 0, 0.25);
  --category-color: #0085f2;
  --category-color-background: #0085f210;
  --code-color: #5e9eff;
  --mark-color: #dce2f2;
  --plus-accent-color: #d30038;
  --html-accent-color: #d30038;
  --css-accent-color: #0069c2;
  --js-accent-color: #afa100;
  --http-accent-color: #007936;
  --apis-accent-color: #872bff;
  --learn-accent-color: #d00058;
  --plus-code-color: #0069c2;
  --html-code-color: #9e0027;
  --css-code-color: #0069c2;
  --js-code-color: #746a00;
  --http-code-color: #007936;
  --apis-code-color: #872bff;
  --learn-code-color: #d00058;
  --plus-mark-color: #ffd9dc;
  --html-mark-color: #ffd9dc;
  --css-mark-color: #dce2f2;
  --js-mark-color: #f0e498;
  --http-mark-color: #a9f3ba;
  --apis-mark-color: #e6deff;
  --learn-mark-color: #ffd9df;
  --plus-accent-background-color: #ff2a5130;
  --html-accent-background-color: #ff2a5130;
  --css-accent-background-color: #0085f230;
  --js-accent-background-color: #93870030;
  --http-accent-background-color: #009a4630;
  --apis-accent-background-color: #9b65ff30;
  --learn-accent-background-color: #ff1f7230;
  --plus-accent-engage: rgba(255, 42, 81, 0.7);
  --html-accent-engage: rgba(255, 42, 81, 0.7);
  --css-accent-engage: rgba(0, 133, 242, 0.7);
  --js-accent-engage: rgba(147, 135, 0, 0.7);
  --http-accent-engage: rgba(0, 154, 70, 0.7);
  --apis-accent-engage: rgba(155, 101, 255, 0.7);
  --learn-accent-engage: rgba(255, 31, 114, 0.7);
  --homepage-hero-bg: radial-gradient(114.42% 123.24% at 6.69% 13.67%,
      rgba(51, 178, 252, 0.2) 22.84%,
      rgba(152, 82, 250, 0.2) 47.63%,
      rgba(255, 230, 0, 0.2) 82.74%);
  --homepage-secondary-bg: linear-gradient(90deg,
      #8524ff -43.99%,
      #4d7fff 159.52%);
  --modal-backdrop-color: rgba(27, 27, 27, 0.1);
  --blend-color: #fff80;
  --text-primary-red: #d30038;
  --text-primary-green: #007936;
  --text-primary-blue: #0069c2;
  --text-primary-yellow: #746a00;
}

.theme-dark {
  --text-primary: #fff;
  --text-secondary: #cdcdcd;
  --text-inactive: #cdcdcda6;
  --text-link: #8cb4ff;
  --text-invert: #1b1b1b;
  --background-primary: #1b1b1b;
  --background-secondary: #343434;
  --background-tertiary: #4e4e4e;
  --background-toc-active: #343434;
  --background-mark-yellow: rgba(199, 183, 0, 0.4);
  --border-primary: #858585;
  --border-secondary: #696969;
  --button-primary-default: #fff;
  --button-primary-hover: #cdcdcd;
  --button-primary-active: #9e9e9e;
  --button-primary-inactive: #fff;
  --button-secondary-default: #4e4e4e;
  --button-secondary-hover: #858585;
  --button-secondary-active: #9e9e9e;
  --button-secondary-inactive: #4e4e4e;
  --icon-primary: #fff;
  --icon-secondary: #b3b3b3;
  --icon-information: #5e9eff;
  --icon-warning: #afa100;
  --icon-critical: #ff707f;
  --icon-success: #00b755;
  --accent-primary: #5e9eff;
  --accent-primary-engage: rgba(94, 158, 255, 0.1);
  --accent-secondary: #5e9eff;
  --shadow-01: 0px 1px 2px rgba(251, 251, 254, 0.2);
  --shadow-02: 0px 1px 6px rgba(251, 251, 254, 0.2);
  --focus-01: 0px 0px 0px 3px rgba(251, 251, 254, 0.5);
  --field-focus-border: #fff;
  --code-token-tag: #c1cff1;
  --code-token-punctuation: #9e9e9e;
  --code-token-attribute-name: #ff97a0;
  --code-token-attribute-value: #00d061;
  --code-token-comment: #9e9e9e;
  --code-token-default: #fff;
  --code-token-selector: #bea5ff;
  --code-token-class-selector: #5f9eff;
  --code-token-pseudo-class: #45bd90;
  --code-token-variable-2: #d2a740;
  --code-token-at-rule: #d2a740;
  --code-token-meta: #555;
  --code-background-inline: #343434;
  --code-background-block: #343434;
  --notecard-link-color: #e2e2e2;
  --scrollbar-color: hsla(0, 0%, 100%, 0.25);
  --category-color: #8cb4ff;
  --category-color-background: #8cb4ff70;
  --code-color: #c1cff1;
  --mark-color: #004d92;
  --plus-accent-color: #ff97a0;
  --html-accent-color: #ff707f;
  --css-accent-color: #8cb4ff;
  --js-accent-color: #afa100;
  --http-accent-color: #00b755;
  --apis-accent-color: #ae8aff;
  --learn-accent-color: #ff6d91;
  --plus-code-color: #c1cff1;
  --html-code-color: #f9f9fb;
  --css-code-color: #c1cff1;
  --js-code-color: #c7b700;
  --http-code-color: #00d061;
  --apis-code-color: #bea5ff;
  --learn-code-color: #ff93aa;
  --plus-mark-color: #9e0027;
  --html-mark-color: #9e0027;
  --css-mark-color: #004d92;
  --js-mark-color: #564e00;
  --http-mark-color: #005a26;
  --apis-mark-color: #6800cf;
  --learn-mark-color: #9e0041;
  --plus-accent-engage: rgba(255, 112, 127, 0.7);
  --html-accent-engage: rgba(255, 112, 127, 0.7);
  --css-accent-engage: rgba(140, 180, 255, 0.7);
  --js-accent-engage: rgba(175, 161, 0, 0.7);
  --http-accent-engage: rgba(0, 183, 85, 0.7);
  --apis-accent-engage: rgba(174, 138, 255, 0.7);
  --learn-accent-engage: rgba(255, 109, 145, 0.7);
  --modal-backdrop-color: rgba(27, 27, 27, 0.7);
  --blend-color: #00080;
  --text-primary-red: #ff97a0;
  --text-primary-green: #00d061;
  --text-primary-blue: #8cb4ff;
  --text-primary-yellow: #c7b700;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-primary: #1b1b1b;
    --text-secondary: #4e4e4e;
    --text-inactive: #9e9e9ea6;
    --text-link: #0069c2;
    --text-invert: #fff;
    --background-primary: #fff;
    --background-secondary: #f9f9fb;
    --background-tertiary: #fff;
    --background-toc-active: #ebeaea;
    --background-mark-yellow: rgba(199, 183, 0, 0.4);
    --background-mark-green: rgba(0, 208, 97, 0.4);
    --background-information: rgba(0, 133, 242, 0.1);
    --background-warning: rgba(255, 42, 81, 0.1);
    --background-critical: rgba(211, 0, 56, 0.1);
    --background-success: rgba(0, 121, 54, 0.1);
    --border-primary: #cdcdcd;
    --border-secondary: #cdcdcd;
    --button-primary-default: #1b1b1b;
    --button-primary-hover: #696969;
    --button-primary-active: #9e9e9e;
    --button-primary-inactive: #1b1b1b;
    --button-secondary-default: #fff;
    --button-secondary-hover: #cdcdcd;
    --button-secondary-active: #cdcdcd;
    --button-secondary-inactive: #f9f9fb;
    --button-secondary-border-focus: #0085f2;
    --button-secondary-border-red: #ff97a0;
    --button-secondary-border-red-focus: #ffd9dc;
    --icon-primary: #696969;
    --icon-secondary: #b3b3b3;
    --icon-information: #0085f2;
    --icon-warning: #ff2a51;
    --icon-critical: #d30038;
    --icon-success: #007936;
    --accent-primary: #0085f2;
    --accent-primary-engage: rgba(0, 133, 242, 0.1);
    --accent-secondary: #0085f2;
    --accent-tertiary: rgba(0, 133, 242, 0.1);
    --shadow-01: 0px 1px 2px rgba(43, 42, 51, 0.05);
    --shadow-02: 0px 1px 6px rgba(43, 42, 51, 0.1);
    --focus-01: 0px 0px 0px 3px rgba(0, 144, 237, 0.4);
    --field-focus-border: #0085f2;
    --code-token-tag: #0069c2;
    --code-token-punctuation: #9e9e9e;
    --code-token-attribute-name: #d30038;
    --code-token-attribute-value: #007936;
    --code-token-comment: #757575;
    --code-token-default: #1b1b1b;
    --code-token-selector: #872bff;
    --code-token-class-selector: #1c4482;
    --code-token-pseudo-class: #085;
    --code-token-variable-2: #8c6300;
    --code-token-at-rule: #8c6300;
    --code-token-meta: #555;
    --code-background-inline: #f2f1f1;
    --code-background-block: #f2f1f1;
    --notecard-link-color: #343434;
    --scrollbar-bg: transparent;
    --scrollbar-color: rgba(0, 0, 0, 0.25);
    --category-color: #0085f2;
    --category-color-background: #0085f210;
    --code-color: #5e9eff;
    --mark-color: #dce2f2;
    --plus-accent-color: #d30038;
    --html-accent-color: #d30038;
    --css-accent-color: #0069c2;
    --js-accent-color: #afa100;
    --http-accent-color: #007936;
    --apis-accent-color: #872bff;
    --learn-accent-color: #d00058;
    --plus-code-color: #0069c2;
    --html-code-color: #9e0027;
    --css-code-color: #0069c2;
    --js-code-color: #746a00;
    --http-code-color: #007936;
    --apis-code-color: #872bff;
    --learn-code-color: #d00058;
    --plus-mark-color: #ffd9dc;
    --html-mark-color: #ffd9dc;
    --css-mark-color: #dce2f2;
    --js-mark-color: #f0e498;
    --http-mark-color: #a9f3ba;
    --apis-mark-color: #e6deff;
    --learn-mark-color: #ffd9df;
    --plus-accent-background-color: #ff2a5130;
    --html-accent-background-color: #ff2a5130;
    --css-accent-background-color: #0085f230;
    --js-accent-background-color: #93870030;
    --http-accent-background-color: #009a4630;
    --apis-accent-background-color: #9b65ff30;
    --learn-accent-background-color: #ff1f7230;
    --plus-accent-engage: rgba(255, 42, 81, 0.7);
    --html-accent-engage: rgba(255, 42, 81, 0.7);
    --css-accent-engage: rgba(0, 133, 242, 0.7);
    --js-accent-engage: rgba(147, 135, 0, 0.7);
    --http-accent-engage: rgba(0, 154, 70, 0.7);
    --apis-accent-engage: rgba(155, 101, 255, 0.7);
    --learn-accent-engage: rgba(255, 31, 114, 0.7);
    --homepage-hero-bg: radial-gradient(114.42% 123.24% at 6.69% 13.67%,
        rgba(51, 178, 252, 0.2) 22.84%,
        rgba(152, 82, 250, 0.2) 47.63%,
        rgba(255, 230, 0, 0.2) 82.74%);
    --homepage-secondary-bg: linear-gradient(90deg,
        #8524ff -43.99%,
        #4d7fff 159.52%);
    --modal-backdrop-color: rgba(27, 27, 27, 0.1);
    --blend-color: #fff80;
    --text-primary-red: #d30038;
    --text-primary-green: #007936;
    --text-primary-blue: #0069c2;
    --text-primary-yellow: #746a00;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #fff;
    --text-secondary: #cdcdcd;
    --text-inactive: #cdcdcda6;
    --text-link: #8cb4ff;
    --text-invert: #1b1b1b;
    --background-primary: #1b1b1b;
    --background-secondary: #343434;
    --background-tertiary: #4e4e4e;
    --background-toc-active: #343434;
    --background-mark-yellow: rgba(199, 183, 0, 0.4);
    --border-primary: #858585;
    --border-secondary: #696969;
    --button-primary-default: #fff;
    --button-primary-hover: #cdcdcd;
    --button-primary-active: #9e9e9e;
    --button-primary-inactive: #fff;
    --button-secondary-default: #4e4e4e;
    --button-secondary-hover: #858585;
    --button-secondary-active: #9e9e9e;
    --button-secondary-inactive: #4e4e4e;
    --icon-primary: #fff;
    --icon-secondary: #b3b3b3;
    --icon-information: #5e9eff;
    --icon-warning: #afa100;
    --icon-critical: #ff707f;
    --icon-success: #00b755;
    --accent-primary: #5e9eff;
    --accent-primary-engage: rgba(94, 158, 255, 0.1);
    --accent-secondary: #5e9eff;
    --shadow-01: 0px 1px 2px rgba(251, 251, 254, 0.2);
    --shadow-02: 0px 1px 6px rgba(251, 251, 254, 0.2);
    --focus-01: 0px 0px 0px 3px rgba(251, 251, 254, 0.5);
    --field-focus-border: #fff;
    --code-token-tag: #c1cff1;
    --code-token-punctuation: #9e9e9e;
    --code-token-attribute-name: #ff97a0;
    --code-token-attribute-value: #00d061;
    --code-token-comment: #9e9e9e;
    --code-token-default: #fff;
    --code-token-selector: #bea5ff;
    --code-token-class-selector: #5f9eff;
    --code-token-pseudo-class: #45bd90;
    --code-token-variable-2: #d2a740;
    --code-token-at-rule: #d2a740;
    --code-token-meta: #555;
    --code-background-inline: #343434;
    --code-background-block: #343434;
    --notecard-link-color: #e2e2e2;
    --scrollbar-color: hsla(0, 0%, 100%, 0.25);
    --category-color: #8cb4ff;
    --category-color-background: #8cb4ff70;
    --code-color: #c1cff1;
    --mark-color: #004d92;
    --plus-accent-color: #ff97a0;
    --html-accent-color: #ff707f;
    --css-accent-color: #8cb4ff;
    --js-accent-color: #afa100;
    --http-accent-color: #00b755;
    --apis-accent-color: #ae8aff;
    --learn-accent-color: #ff6d91;
    --plus-code-color: #c1cff1;
    --html-code-color: #f9f9fb;
    --css-code-color: #c1cff1;
    --js-code-color: #c7b700;
    --http-code-color: #00d061;
    --apis-code-color: #bea5ff;
    --learn-code-color: #ff93aa;
    --plus-mark-color: #9e0027;
    --html-mark-color: #9e0027;
    --css-mark-color: #004d92;
    --js-mark-color: #564e00;
    --http-mark-color: #005a26;
    --apis-mark-color: #6800cf;
    --learn-mark-color: #9e0041;
    --plus-accent-engage: rgba(255, 112, 127, 0.7);
    --html-accent-engage: rgba(255, 112, 127, 0.7);
    --css-accent-engage: rgba(140, 180, 255, 0.7);
    --js-accent-engage: rgba(175, 161, 0, 0.7);
    --http-accent-engage: rgba(0, 183, 85, 0.7);
    --apis-accent-engage: rgba(174, 138, 255, 0.7);
    --learn-accent-engage: rgba(255, 109, 145, 0.7);
    --modal-backdrop-color: rgba(27, 27, 27, 0.7);
    --blend-color: #00080;
    --text-primary-red: #ff97a0;
    --text-primary-green: #00d061;
    --text-primary-blue: #8cb4ff;
    --text-primary-yellow: #c7b700;
  }
}

*,
:after,
::backdrop,
:before,
::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font: var(--type-body-l);
  height: 100%;
  margin: 0;
  padding: 0;
}

.output-header {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  height: 48px;
}

.border-rounded-top {
  border-bottom: 1px solid var(--border-primary);
  border-radius: var(--button-radius) var(--button-radius) 0 0;
}

.border-rounded-top-no-bottom {
  border: solid var(--border-primary);
  border-radius: var(--button-radius) var(--button-radius) 0 0;
  border-width: 1px 1px 0;
}

.border-sides {
  border: solid var(--border-primary);
  border-width: 0 1px;
}

.border-rounded-bottom {
  border: solid var(--border-primary);
  border-radius: 0 0 var(--button-radius) var(--button-radius);
  border-width: 0 1px 1px;
}

.output-heading {
  font: var(--type-body-l);
  margin: 0;
}

.reset {
  background-color: transparent;
  border: none;
  border-radius: var(--button-radius);
  color: var(--text-primary);
  cursor: pointer;
  font: var(--type-label-s);
  height: var(--button-height);
  letter-spacing: 1.5px;
  margin: 0;
  max-width: 100px;
  padding: 0.7em 0.9em;
  text-transform: uppercase;
}

.reset:hover {
  background-color: var(--button-secondary-hover);
}

.user-message {
  background-color: var(--text-secondary);
  color: var(--background-primary);
  display: none;
  font-size: 14px;
  left: 50%;
  opacity: 1;
  padding: 0.5rem;
  position: absolute;
  top: 30px;
  transition: opacity 0.5s;
  z-index: 4;
}

.user-message,
.warning {
  border-radius: var(--elem-radius);
}

.warning {
  background-color: var(--background-warning);
  border: 1px solid var(--border-secondary);
  border-left: 4px solid var(--icon-warning);
  color: var(--text-secondary);
  margin: 1rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}

.fade-in {
  animation: fadein 0.5s;
}

.fade-out {
  animation: fadeout 0.5s;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none !important;
}

.show {
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

@media screen and (min-width: 47.9375em) {
  header h4 {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 63.9375em) {
  header h4 {
    font-size: 1.4rem;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* @font-face {
  font-family: Fira Sans;
  src: local("FiraSans-Regular"),
    url(/media/fonts/FiraSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: Fira Sans;
  font-style: oblique;
  font-weight: 400;
  src: local("FiraSans-SemiBoldItalic"),
    url(/media/fonts/FiraSans-SemiBoldItalic.woff2);
}

@font-face {
  font-family: Dancing Script;
  src: url(/media/fonts/DancingScript-Regular.ttf);
}

@font-face {
  font-family: molot;
  src: url(/media/fonts/molot.woff2) format("woff2");
}

@font-face {
  font-family: rapscallion;
  src: url(/media/fonts/rapscall.woff2) format("woff2");
} */
.tab-header {
  background: var(--background-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 14px;
}

.tab-actions {
  flex: auto;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0.5rem;
}

.tab-actions>label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.tab-list {
  background: var(--background-secondary);
  display: flex;
  gap: 0.5rem;
}

button[role="button"] {
  background-color: var(--button-secondary-default);
  border: 1px solid var(--border-primary);
  border-radius: var(--elem-radius);
  color: var(--text-primary);
  cursor: pointer;
  display: block;
  font: var(--type-emphasis-m);
  padding: 0.5em;
  width: 100px;
  height: 32px;
}

button[role="button"]:hover {
  background-color: var(--button-secondary-hover);
}

button[role="tab"] {
  background-color: transparent;
  border-bottom: 0;
  border-top: 0;
  border-color: transparent currentcolor;
  border-style: solid none;
  border-width: 3px 0;
  color: var(--text-secondary);
  cursor: pointer;
  font: var(--type-emphasis-m);
  padding: 0.5em 30px;
  transition: color 0.2s, background-color 0.2s;
}

button[role="tab"]:focus,
button[role="tab"]:hover {
  background-color: var(--background-tertiary);
  color: var(--text-primary);
}

button[role="tab"][aria-selected="true"] {
  background-color: var(--background-tertiary);
  border-bottom-color: var(--accent-primary);
  color: var(--accent-primary);
}

.editor-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tabbed-shorter .cm-editor {
  height: 264px;
}

.tabbed-standard .cm-editor {
  height: 334px;
}

.tabbed-taller .cm-editor {
  height: 544px;
}

.tabbed-shorter .cm-editor,
.tabbed-standard .cm-editor,
.tabbed-taller .cm-editor {
  border-bottom: 1px solid var(--border-primary);
  border-left: 0;
  border-right: 0;
}

.output-container {
  position: relative;
}

.tabs {
  flex: none;
  font-size: 0.9rem;
}

.console-label,
.output-label {
  background-color: var(--background-secondary);
  border-radius: 0 0 0 var(--elem-radius);
  color: var(--text-secondary);
  font-size: 0.9rem;
  font: var(--type-label-s);
  margin: 0;
  padding: 0.5rem 1.6rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 2;
}

.icon-clear {
  height: 12px;
  width: 12px;
}

.clear {
  align-items: center;
  background-color: var(--button-secondary-default);
  border: 1px solid var(--border-primary);
  border-radius: var(--elem-radius);
  color: var(--text-primary);
  cursor: pointer;
  display: flex;
  font: var(--type-emphasis-m);
  gap: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5em;
}

.clear:hover {
  background-color: var(--button-secondary-hover);
}

.console-container {
  padding-top: 0.5rem;
  position: relative;
}

.console-label {
  border-radius: var(--elem-radius);
  position: absolute;
  right: 1px;
  top: 3rem;
}

.console {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: var(--elem-radius);
  font: var(--type-code-regular);
  height: 200px;
  margin: 0;
  padding: 2rem 0.5rem 0.5rem;
  position: relative;
  width: 100%;
}

.console code {
  display: block;
  height: 100px;
  overflow-y: auto;
  white-space: pre;
  width: 100%;
  word-break: break-word;
}

@media screen and (min-width: 590px) {
  .editor-container {
    flex-direction: row;
  }

  .console {
    padding-top: 0.5rem;
  }

  .tabs {
    width: 60%;
  }

  .tabbed-shorter {
    height: 300px;
  }

  .tabbed-standard {
    height: calc(100vh - 48px);
  }

  .tabbed-standard .editor {
    height: calc(100vh - 86px);
  }

  .tabbed-taller {
    height: 580px;
  }

  .output-container {
    border-left: 1px solid var(--border-primary);
    height: 100%;
    width: 40%;
  }

  .tabbed-shorter .cm-editor,
  .tabbed-standard .cm-editor,
  .tabbed-taller .cm-editor {
    border-bottom: 0;
  }
}

#output-iframe {
  border: none;
  height: 100%;
  width: 100%;
}

#output-root body {
  background-color: #fff;
}

#html-output {
  color: #15141a;
  font-size: 0.9rem;
  height: min-content;
  line-height: 1.5;
  overflow: auto;
  padding: 2rem 1rem 1rem;
  width: fit-content;
}

#html-output math {
  font-size: 1.5rem;
}

#html-output.editor-mathml {
  margin: auto;
}

#libs-table {
  display: none;
}


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1.75rem auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: calc(100vh - 2.5rem);
  overflow-y: auto;
  z-index: 100000;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.input {
  --border: 1px;
  --color-base-100: oklch(100% 0 0);
  --size: calc(.25rem*10);
  --input-color: color-mix(in oklab, oklch(21% .006 285.885) 20%, #0000);
  --depth: 1;
  --size-field: .25rem;
  --color-base-content: oklch(21% .006 285.885);
  cursor: text;
  border: var(--border) solid #0000;
  appearance: none;
  background-color: var(--color-base-100);
  vertical-align: middle;
  white-space: nowrap;
  width: clamp(3rem, 20rem, 100%);
  height: var(--size);
  border-color: var(--input-color);
  box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth)* 10%), #0000) inset, 0 -1px oklch(100% 0 0 / calc(var(--depth)* .1)) inset;
  --size: calc(var(--size-field, .25rem)* 10);
  --input-color:
    color-mix(in oklab, var(--color-base-content) 20%, #0000);
  flex-shrink: 1;
  align-items: center;
  gap: .5rem;
  padding-inline: .75rem;
  font-size: .875rem;
  display: inline-flex;
  position: relative;
}

input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  padding-block: 1px;
  padding-inline: 2px;
}


input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
}

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}


.input {
  & :where(input) {

    &:focus,
    &:focus-within {
      --tw-outline-style: none;
      outline-style: none;
    }
  }
}

.input {
  & :where(input) {
    appearance: none;
    background-color: #0000;
    border: none;
    width: 100%;
    height: 100%;
    display: inline-flex;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.input {

  &:focus,
  &:focus-within {
    --input-color: oklch(21% .006 285.885);
    --depth: 1;
    box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth)* 10%), #0000);
    outline: 2px solid var(--input-color);
    outline-offset: 0px;
    isolation: isolate;
  }
}

.btn {
  &:active:not(.btn-active) {
    --btn-bg: color-mix(in oklab, oklch(14% .005 285.823), #000 5%);
    --btn-border: color-mix(in oklab, oklch(14% .005 285.823), #000 7%);
    --btn-shadow: 0 0 0 0 oklch(0% 0 0 / 0), 0 0 0 0 oklch(0% 0 0 / 0);
    translate: 0 .5px;
  }
}

.btn {
  --btn-p: 1rem;
  --btn-fg: oklch(92% .004 286.32);
  --size: calc(.25rem*10);
  --btn-color: oklch(14% .005 285.823);
  --color-base-content: oklch(21% .006 285.885);
  --btn-bg: oklch(14% .005 285.823);
  --noise: 0;
  --btn-noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.34' numOctaves='4' stitchTiles='stitch'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)' opacity='0.2'%3E%3C/rect%3E%3C/svg%3E");
  --border: 1px;
  --depth: 1;
  --btn-shadow: 0 3px 2px -2px color-mix(in oklab, oklch(14% .005 285.823) calc(1*30%), #0000), 0 4px 3px -2px color-mix(in oklab, oklch(14% .005 285.823) calc(1*30%), #0000);
  --size-field: .25rem;
  --color-base-20: oklch(98% 0 0);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  outline-offset: 2px;
  user-select: none;
  -webkit-user-select: none;
  padding-inline: var(--btn-p);
  color: var(--btn-fg);
  --tw-prose-links: var(--btn-fg);
  height: var(--size);
  font-size: var(--fontsize, .875rem);
  outline-color: var(--btn-color, var(--color-base-content));
  background-color: var(--btn-bg);
  background-size: auto, calc(var(--noise)* 100%);
  background-image: none, var(--btn-noise);
  border-width: var(--border);
  border-style: solid;
  border-color: var(--btn-border);
  text-shadow: 0 .5px oklch(100% 0 0 / calc(var(--depth)* .15));
  box-shadow: 0 .5px 0 .5px oklch(100% 0 0 / calc(var(--depth)* 6%)) inset, var(--btn-shadow);
  --size: calc(var(--size-field, .25rem)* 10);
  --btn-bg: var(--btn-color, var(--color-base-200));
  --btn-border: color-mix(in oklab, var(--btn-bg), #000 calc(var(--depth)* 5%));
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: .375rem;
  font-weight: 600;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 0, .2, 1);
  display: inline-flex;
}

.btn-xs {
  --fontsize: .6875rem;
  --btn-p: .5rem;
  --size: calc(var(--size-field, .25rem)* 6);

  &:active:not(.btn-active) {
    --btn-bg: color-mix(in oklab, oklch(98% 0 0), #000 5%);
    --btn-border: color-mix(in oklab, oklch(98% 0 0), #000 7%);
    --btn-shadow: 0 0 0 0 oklch(0% 0 0/0), 0 0 0 0 oklch(0% 0 0/0);
    translate: 0 .5px;
  }
}

.btn-ghost {
  --btn-shadow: "";
  --btn-bg: #0000;
  --btn-border: #0000;
  --btn-noise: none;
}

.btn-ghost {
  &:not(:disabled, [disabled], .btn-disabled) {
    --btn-fg: currentColor;
    outline-color: currentColor;
  }
}

.btn-xs {
  @media (hover: hover) {
    &:hover {
      --btn-bg: color-mix(in oklab, oklch(98% 0 0), #000 7%);
    }
  }
}

.rounded-box {
  border-radius: .5rem;
}

.bg-base-100 {
  background-color: oklch(100% 0 0);
}

.border-base-content {
  border-color: oklab(0.21 0.00164225 -0.00577088 / 0.2)
}

.overflow-x-auto {
  overflow-x: auto;
}

.border {
  border-style: solid;
  border-width: 1px;
}

.table {
  display: table;
  border-collapse: collapse;
  border-radius: .5rem;
  text-align: left;
  width: 100%;
  font-size: .875rem;
  position: relative;
}

.table {
  & :where(thead, tfoot) {
    white-space: nowrap;
    color:
      color-mix(in oklab, oklch(21% .006 285.885) 60%, transparent);
    font-size: .875rem;
    font-weight: 600;
  }
}

.table {
  & :where(thead tr, tbody tr:not(:last-child)) {
    border-bottom: 1px solid oklab(0.21 0.00164225 -0.00577088 / 0.2);
  }
}

.table {
  & :where(th, td) {
    vertical-align: middle;
    padding-block: .75rem;
    padding-inline: 1rem;
  }
}

.join {
  --join-ss: 0;
  --join-se: 0;
  --join-es: 0;
  --join-ee: 0;
  align-items: stretch;
  display: inline-flex;
}

.join {
  &>.join-item:where(:last-child) {
    --join-ss: 0;
    --join-se: .25rem;
    --join-es: 0;
    --join-ee: .25rem;
  }
}

.join {
  & :first-child:not(:last-child) {
    & :where(.join-item) {
      --join-ss: .25rem;
      --join-se: 0;
      --join-es: .25rem;
      --join-ee: 0;
    }
  }
}

.join {
  & :where(.join-item) {
    border-start-start-radius: var(--join-ss, 0);
    border-start-end-radius: var(--join-se, 0);
    border-end-end-radius: var(--join-ee, 0);
    border-end-start-radius: var(--join-es, 0);
  }
}

.join-item {
  &:where(:not(:first-child)) {
    margin-block-start: 0;
    margin-inline-start: -1px;
  }
}

.join {
  &>.join-item:where(:last-child) {
    --join-ss: 0;
    --join-se: .25rem;
    --join-es: 0;
    --join-ee: .25rem;
  }
}


.py-4 {
  padding-block: calc(0.25rem * 4);
}

.text-lg {
  font-size: 1.125rem;
  line-height: calc(1.75 / 1.125);
}

.font-bold {
  font-weight: 700;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.grow {
  flex-grow: 1;
}

.opacity-50 {
  opacity: 50%;
}

.h-\[1em\] {
  height: 1em;
}
